    html, body {
        overflow-x: hidden;
    }

    
    .left-main {
      position: relative;
      width: max-content;  
      overflow: hidden;
      align-content: center;
      justify-content: center;
    }
    
    .main-section {
      display: flex;
      transition: transform 1s ease-in-out;
      width: 100%;
      overflow: hidden;
      margin-left: 21%;
      padding: 0 3%;
    }
    
    .establishment-preview {
      width: 45vh; 
      height: 45vh;
      margin: 0 3vh; 
      background-color: white;
      transition: transform 1s ease; 
      align-self: center;
    }
    .establishment-preview.active {
      transform: scale(1.5); 
      margin: 5% 
    }

    .prev, .next {
      position: absolute;
      top: 50%;
      width: 50px;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 20px;
      border-radius: 50%;
      z-index: 1;
    }
    
    .prev {
      left: 5%;
    }
    
    .next {
      left: 60%;
    }
    
    .prev.hide, .next.hide {
      display: none;
    }