html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FAF5F5; 
  font-family: 'Lato';
  overflow: hidden;
}

a {
  font-weight: 600;
}

 /* Navigation Bar */
 nav {
  background-color: #F4C3B3;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex-wrap: wrap; 
  position: sticky; 
  top: 0;          
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav-left, .nav-center, .nav-right {
  align-items: center;
  flex: 1; 
  text-align: center;
}

.nav-right {
  padding: 15px;
  justify-content: center;
}

.nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.nav-right h4 {
  margin: 0;
}

.nav-right a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.profile-option {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: black;
  margin-left: 20px;
}

#page-logo {
  height: 60px;
  margin: 0;
  margin-left: 30%;
}

.content-row {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  margin: 20px;
  background-color: #FAF5F5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;

}

/* Left Section */
.left-section {
    flex: 1;
    margin-left: 150px;
}

#sign-up-title {
  text-align: left;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 30px;
}

.form-input{
  width: 100%;
  max-width: 40%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  margin: 5px 0;
}

/** Right Side **/
.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-right: 150px;
  margin-top: 40px;
  align-items: center;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  background-color: rgb(0, 0, 0);
  width: 500px;
  height: 400px;
  border-radius: 10%;
}

/** Buttons Section **/
.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 10px 15px;
  background-color: #8F8983;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-container {
  text-align: center; 
  margin-top: 10px;
  display: flex;
  flex-direction: column; 
}

.delete-btn {
  background-color: #f66147; 
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

#cancel {
  padding: 10px 15px;
  background-color: #4b4b4b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  margin-bottom: 5px;
  font-weight: bold;
}
