/* Navigation Bar */
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex-wrap: wrap; 
  position: sticky; 
  top: 0;          
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav-left, .nav-center, .nav-right {
  align-items: center;
  flex: 1; 
  text-align: center;
}

.nav-right {
  padding: 15px;
  justify-content: center;
}

.nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.nav-right h4 {
  margin: 0;
}

.nav-right a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.profile-option {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: black;
  margin-left: 20px;
}

#page-logo {
  height: 60px;
  margin: 0;
  margin-left: 30%;
}

.content-row {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  margin: 20px;
}

    /* Left Section */
    .left-section {
        flex: 1;
        margin-left: 150px;
    }

    #sign-up-title {
      text-align: left;
      color: rgb(0, 0, 0);
      margin-bottom: 10px;
      font-weight: bold;
    }

    .form-input, .form-select {
      width: 100%;
      max-width: 40%; 
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      background-color: white;
    }

    .hours-row {
      display: flex;
      justify-content: space-between;
    }

    .hours-row select {
      width: 40%;
      height: 40px; 
      padding: 5px; 
      font-size: 14px;
      border-radius: 5px; 
      margin-right: 10px;
    }

    .hours-row select[name="Facilities"] {
      width: 40%;
      padding: 5px;
      font-size: 14px;
      border-radius: 5px;
    }

    #schedule-btn {
      width: 20%;
      padding: 10px 15px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }

    /** Right Side **/
    .right-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      margin-right: 150px;
      margin-top: 75px;
      align-items: center;
    }

    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .logo {
      background-color: rgb(0, 0, 0);
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }

    #wordlogo {
      margin-top: 15px;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: rgb(82, 82, 82);
    }

    #pen {
      margin-left: 8px;
      width: 18px;
      height: 18px;
    }

    #overview {
      align-self:flex-start;
      margin-top: 20px;
    }

    .input-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-left: 50px;
    }

    .form-description {
      width: 300px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 80px;
      margin-bottom: 50px; 
    }

    .add-btn {
      padding: 10px 15px;
      background-color: rgb(165, 165, 165);
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      margin: 15px;
      justify-content: center;
    }

    /** Buttons Section **/
    .button-container {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .submit-btn {
      padding: 10px 15px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #cancel {
      padding: 10px 15px;
      background-color: gray;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    p {
      margin-bottom: 5px;
      font-weight: bold;
    }

    textarea {
      resize: none;
    }
