h2, h3, h4 {
  font-weight: 600;
}

.nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.nav-right {
  justify-content: center;
}

.dropdownLogOut {
  left: 15%;
  width: 80px;
}


.nav-right h4 {
  margin: 0;
}

.nav-right a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.profile-container {
  display: flex;
  width: 80px;
  position: relative;
  justify-content: flex-end;
  margin-left: 16px;
}

.profile-option, .profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: black;
  margin-right: 16px;
}