body, html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-body {
  flex: 1;
}

.nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.nav-right {
  justify-content: center;
}

.nav-right h4 {
  margin: 0;
}

.nav-right a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.search-bar {
  justify-content: center;
  flex: 1;
  border-width: 2px;
  border-color: black;
  width: 70%;
  vertical-align: middle;
}

.image-cover {
  width: 100%;
  height: 30vh; 
  display: flex;
}

.profile-option, .profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: black;
  margin-left: 20px;
}



.profile-header-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%; 
  height: 150px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 18px;
}

.profile-header-picture img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
}

.profile-header-details h2, .profile-header-details h3 {
  margin: 0;
  color: black;
}

#num-review {
  margin-top: 10%;
}

.profile-body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: antiquewhite;
}

.left-profile-body, .center-profile-body, .right-profile-body {
  align-items: center;
  padding: 15px;
}

.option-area {
  text-align: center;
  padding: 3% 0;
}

.option-area span a {
  text-decoration: none;
  color: inherit;
}

.option-area span {
  font-size: 25px;
  font-weight: bold;
  margin-right: 2%;
}

.option-separator, #about-option, #media-option {
  color: gray;
}


.past-review {
  border-width: 1px;
  border-style: solid;
  border-radius: 3%;
  background-color: white;
  margin-top: 2%;
}

.review-header, .review-establishment {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 2%;
}

#name-of-establishment {
  margin: 0;
}

.overall-review {
  justify-content: left;
  align-self: center;
  padding-top: 1%;
}

.user-info {
  display: flex; 
  align-items: center; 
}

.profile-picture {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  background-color: gray; 
}

.username {
  margin: 0;
  margin-left: 10px; 
}

.date-time {
  margin: 0;
}

.review-establishment, .review-text {
  padding: 0% 5% 0% 5%;
}

.review-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  gap: 1%
}

.review-footer {
  display: inline-block;
  text-align: center; 
}

.review-footer img {
  width: 20px; 
  vertical-align: middle; 
}

.helpful {
  background-color: rgb(108, 214, 108);
}

.unhelpful {
  background-color: rgb(225, 108, 108);
}

.helpful, .unhelpful {
  display: inline-block;
  margin: 0 0 10px 15px; 
  text-align: center; 
  border-radius: 50px;
  padding: 3px 10px;
}

.helpful:hover, .unhelpful:hover {
  cursor: pointer; 
  opacity: 0.8; 
}


.photos-div {
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: white;
  border-radius: 5%;
}

.right-header {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.photos-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: gray;
}

.photo-entry {
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 5%;
  overflow: hidden;
}

.actual-photo {
  width: 100%;
  height: 100%;
}