.option-separator, #about-option, #reviews-option {
  color: gray;
}

#media-option {
  color: black
}

.profile-body {
  grid-template-columns: 1fr 5fr 1fr;
}

.photos-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2%;
}